* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
}

header {
    background-color: white;
    padding: 2vh;
    margin: 0;
    position: fixed;
    z-index: 9999999999999999;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #CBD2D9;
}

main {
    padding-top: 70px;
}

ul {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #FDFBF7;
}

::-webkit-scrollbar-thumb {
    background: #00A7CA;
}

::-webkit-scrollbar-thumb:hover {
    background: #00A7CA;
}

nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #00A7CA;
    font-size: 20px;
}

nav a:hover {
    color: #00A7CA;
    border-bottom: 3px solid;
    border-radius: 2px;
}

.selected {
    color: #00A7CA;
    border-bottom: 3px solid;
    border-radius: 2px;
}

.botao-header {
    background-color: #00A7CA;
    height: 60px;
    width: 100%;
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.botao-header:hover {
    background-color: #046a7f;
    color: rgb(255, 255, 255);
    transition: 0.8s ease;
    transform: scale(1.1);
}

.voluntarios {
    width: 100%;
}

.bordinha {
    width: 100%;
    position: absolute;
    bottom: -8vh;
    z-index: 999999;
    left: 0;
}

.inner-voluntarios {

    position: absolute;
    top: 20%;
    left: 55%;
    width: 35%;
    padding: 3vh;
}

.primeira-parte {
    position: relative;
}

.titulo-site {
    font-size: 6vh;
    margin-bottom: 2vh;
    color: white
}

.paragrafo1 {
    font-size: 2vh;
    color: white;
    margin-top: 1vh;
}

.botao-saiba-mais {
    background-color: #00A7CA;
    height: 6vh;
    width: 40vh;
    padding: 1vh 2vh;
    border-radius: 4vh;
    border: none;
    font-size: 2.4vh;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-top: 3vh;
}

.botao-saiba-mais:hover {

    background-color: #046a7f;
    ;
    color: rgb(255, 255, 255);
    transition: 0.8s ease;
    transform: scale(1.1);

}

.box1 {

    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.inner-quemsomos {
    top: 30%;
    width: 35%;
    padding: 3vh;
    margin-left: 20vh;
}

.texto1 {
    font-size: 6vh;
    color: #00A7CA;
    margin-bottom: 3vh;
    margin-top: 20vh;
}

.texto2 {
    font-size: 2vh;
    margin-bottom: 3vh;
}

.vetor {

    width: 650px;
    margin-top: 10vh;
    margin-left: 150px;
}

.terceira-parte {
    height: 100%;
    width: 100%;
    background-color: #00A7CA;
    padding: 3vh;

}

.texto3 {

    font-size: 6vh;
    color: #ffffff;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 3vh;


}

.topicos {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 2vh;
    color: #ffffff;
    text-align: center;

}

i {

    font-size: 70px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

li {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}


.titulo-como-funciona {
    margin-top: 1vh;
}


.texto-como-funciona {
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 70%;
}

.quarta-parte {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.conteudo-quarta-parte {
    display: flex;
    flex-direction: row;
}

.texto-quarta-parte { 
    margin-right: 28vh;
    width: 60%;
    padding: 5vh;
}

.texto-quarta-parte h1 {
    font-size: 6vh;
    color: #00A7CA;
}

.texto-quarta-parte p {
    padding-top: 2vh;
    font-weight: 400;
}

.botoes-quarta-parte {
    display: flex;
    flex-direction: column;
    margin-right: 1vh;
}

.collapsible {
    border-radius: 5px;
    background-color: #EAECF0;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 90vh;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 2.8vh;
    transition: 0.3s ease;
    border: 1px solid #CBD2D9;
}

.collapsible:hover {
    background-color: rgba(141, 140, 140, 0.603);
}

.collapsible:after {
    content: '\25BC';
    color: #046a7f;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition: transform 0.5s ease;
}

.active:after {
    transform: rotate(0deg);
    content: '\25B2';
}

.content {
    display: none;
    overflow: hidden;
    margin-bottom: 5vh;
}

.content p {
    width: 90vh;
}

.rodape {
    height: 100%;
    background-color: #00A7CA
}

.logos {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    gap: 5vh;
}

.logos i {
    font-size: 5vh;
}

.copy-header {
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-header ul {
    padding: 0;
    display: flex;
    gap: 6vh;
}

.copy-header li a{
    font-size: 2.2vh;
    color: #FFF;
    text-decoration: none;
}